<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:black;">
                <h2>View Team</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <label>Team Number: </label>
                <input type="number" id="teamId">
                <br />

                <label>Team Name: &nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="name" />
                <br />

                <label>Rank: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="rank" readonly>
                <br /><br />

                <label><u><b>Rocket</b></u></label> <br />
                <label>Cargo: </label>
                <label>High</label>
                <input type="checkbox" id="R_C_High">
                <label>Medium</label>
                <input type="checkbox" id="R_C_Med">
                <label>Low</label>
                <input type="checkbox" id="R_C_Low">
                <br />

                <label>Hatchet: </label>
                <label>High</label>
                <input type="checkbox" id="R_H_High">
                <label>Medium</label>
                <input type="checkbox" id="R_H_Med">
                <label>Low</label>
                <input type="checkbox" id="R_H_Low">
                <br /><br />

                <label><u><b>Cargo Ship</b></u> </label><br />
                <label>Hatchet: </label>
                <input type="checkbox" id="C_Hatchet">
                <label>Cargo: </label>
                <input type="checkbox" id="C_Cargo">
                <br />

                <label>Cargo From Floor:</label>
                <input type="checkbox" id="Cargo_floor" />
                <label>Passive Hatchet:</label>
                <input type="checkbox" id="Hatchet_passive" /><br />
                <br />

                <label><u>Climb: </u></label><br />
                <label>Level 1:</label>
                <input type="checkbox" id="Climb1">
                <label>Level 2:</label>
                <input type="checkbox" id="Climb2">
                <label>Level 3:</label>
                <input type="checkbox" id="Climb3">
                <br /> <br />
                <label>Comments:</label><br />
                <textarea  cols="40" rows="5" maxlength="500" style="height:50px; width:100%" type="text" id="comment"></textarea>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" style="background-color:black;" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" style="background-color:red;" ng-click="delete()">
                Delete
            </md-button>
            <md-button class="md-primary md-raised" style="background-color:green;" ng-click="answer()">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>