<div class="jumbotron">
    <h1>FRC Team 1847 - W.R.A.T.H Scouting API</h1>
    <p class="lead">This is an RESTFUL API to access our scouting data.</p>
    <p>Feel free to use our API to get data on teams <br /> We will be competing at the Greater Kansas City Regional in 2019</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Check out our scouting app</h2>
        <p><a>Link to scouting app</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Check us out on the blue alliance website</h2>
        <p><a>https://www.thebluealliance.com/team/1847/2019</a></p>
       
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
