<div class="jumbotron">
    <h1>FRC Team 1847 - W.R.A.T.H Scouting APP</h1>
    <p class="lead">This is an application to access our scouting data.</p>

    <br /> We will be competing at the <a href="https://www.thebluealliance.com/event/2019mokc#teams">Greater Kansas City Regional</a> in 2019</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Check Out Our Scouting App</h2>
        <p><a class="btn btn-default" href="~/scouting" style="word-wrap: break-word">WRATH - Scouting &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Check Us Out On The Blue Alliance Website</h2>
        <p><a class="btn btn-default" href="https://www.thebluealliance.com/team/1847/2019" style="word-wrap: break-word">The Blue Alliance &raquo;</a></p>
       
    </div>
    <div class="col-md-4">
        <h2>Teams At the Kansas City Regional 2019</h2>
        <p><a class="btn btn-default" href="https://www.thebluealliance.com/event/2019mokc#teams">Teams &raquo;</a></p>
    </div>
</div>
