@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<div ng-app="myApp" ng-controller="myCtrl">
    <p>

    </p>
    <div layout="row" ng-cloak style="height: 300px">


        <div id="left" layout="column" layout-align="center center" class="md-padding">
        </div>

        <div layout="column" layout-align="center start" layout-padding flex>
            <div class="dialog-demo-content" layout="column" layout-align="left center" style="width:100%">
                <h1>FRC Deep Space Scouting 2019 {{status}}</h1>
                <div id="div_VenueList">
                    <table class="table table-striped">
                        <md-button flex="15" align="left" style="background-color:black;" class="md-primary md-raised" ng-click="showAdvanced($event)">
                            New team
                        </md-button>
                        <tr>
                            <td>#</td>
                            <td>Name</td>
                            <td>Rocket</td>
                            <td>Ship</td>
                            <td>HAB</td>
                        </tr>
                        <tr ng-repeat="team in teamList">
                            <td>{{team.NUM}}</td>
                            <td>{{team.NAME}}</td>
                            <td>{{team.ROCKET}}</td>
                            <td>{{team.SHIP}}</td>
                            <td>{{team.HAB}}</td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

        <div id="right" layout="column" layout-align="center center" class="md-padding">
        </div>
    </div>
</div>
